body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

/* Conteiner */

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
}

.nav {
    width: 100%;
    width: 300px;
    margin: 0;
    display: block;
}

.page {
    width: 100%;
    max-width: 900px;
    margin: 0;
    display: block;
    background-color: #e9e9e9;
}

/* Menu */

.logo {
    margin: 18px 0 10px 65px;
}

.menu {
    margin: 40px 0 0 50px;
}

.menu__item {
    display: flex;
    padding: 7px;
    transition: background-color 0.15s linear;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #6cb8d3;
}

.menu__icon {
    border-radius: 20px;
    background-color: #7e7d7e;
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: relative;
    transition:  background-color 0.15s linear;
}

.menu__item:hover .menu__icon {
    background-color: #fff;
}

.menu__icon i {
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 1;
    transition: color 0.2s linear;
}

.menu__item:hover .menu__icon i {
    color: #6cb8d3;
}

.menu__nav {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #7e7d7e;
    text-transform: uppercase;
    transition:  color 0.15s linear;
}

.menu__item:hover .menu__nav {
    color: #fff;
}

.about {
    display: block;
    margin: 60px 30px 0 45px;
}

.about__title {
    color: #959595;
    font-size: 32px;
    margin: 0;
}

.about__text {
    color: #9b9b9b;
}

/* Tags */
.tags {
    width: 200px;
    margin: 50px auto;
}

.tags__title {
    width: 165px;
    margin: 0 auto;
    display: flex;
}

.tags__icon {
    color: #d66cb7;
    font-size: 31px;
    margin-right: 10px;
}

.tags__name {
    color: #959595;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
}

.tags__content {
    display: flex;
    flex-wrap: wrap;
}

.tags__link {
    display: block;
    height: 26px;
    width: 55px;
    background-color: #eaeaea;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin: 15px 5px 0 5px;

    text-decoration: none;
    color: #908f8f;
    text-align: center;

    transition: background-color 0.15s linear,
    border 0.15s linear,
    color 0.15s linear;
}

.tags__link:hover {
    background-color: #d6d6d6;
    border: 1px solid #afafaf;
    color: #7e7e7e;
}

/* Footer */
.footer {
    height: 85px;
    border-top: 10px solid #3d3c3c;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    margin-left: 30px;
    font-size: 16px;
    color: #9d9d9d;
}

.footer__icon {
    margin-right: 25px;
    display: flex;
}

.footer__item {
    position: relative;
    margin: 25px 5px 0 5px;
    width: 30px;
    height: 30px;
    background-color: #b5b4b4;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.15s linear;
}

.footer__item:hover {
    background-color: #000000;
}

.footer__item i {
    position: absolute;
    top: 6px;
    left: 4px;
    z-index: 1;
    font-size: 18px;
}

/* Page */

.page__title_text {
    font-size: 35px;
}

.page__title {
    display: block;
    margin-left: 75px;
    margin-top: 32px;
    margin-bottom: 43;
    margin-right: 178px;
}